//colors
$placeholder-color : #ccc;
$a-link : #2094c4;
$a-hover : #3498db;


//via: http://thx.github.io/cube/
$body-fontfamily : 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;